* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Home {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1400px;
}
.Button {
    background: rgb(1, 185, 1);
    padding: 3px;
    border-radius: 5px;
    color: white;
    display: block;
    margin: 10px auto;
    text-align: center;
}
h1 {
    border-bottom: 3px solid rgb(1, 185, 1);
    display: inline-block;
}